<h2>Produtos</h2>
<form name="myForm">

    <div class="form-group">
        <label for="inputNome">Nome</label>
        <input class="form-control" type="text" name="nome" ng-model="produto.nome" placeholder="Nome"
            ng-required="true">
    </div>

    <div class="form-group">
        <label for="inputDescricao">Descrição</label>
        <textarea class="form-control" name="descricao" rows="3" ng-model="produto.descricao" placeholder="Descrição"
            ng-required="true"></textarea>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputInicioOrcamento">Início Orçamento</label>
            <input type="date" class="form-control" name="inicioOrcamento" ng-model="produto.inicioOrcamento"
                placeholder="Início Orçamento" ng-required="true">
        </div>
        <div class="form-group col-md-6">
            <label for="inputFimOrcamento">Fim Orçamento</label>
            <input class="form-control" type="date" name="fimOrcamento" ng-model="produto.fimOrcamento"
                placeholder="Fim Orçamento" ng-required="true">
        </div>
    </div>

    <button class="btn btn-primary btn-block" ng-click="salvar(produto)" ng-disabled="myForm.$invalid">Salvar</button>
    <a class="btn btn-danger btn-block" href="#!/listaProduto">Cancelar</a>
</form>